invoiceBillScan.json
{
  "name": "invoiceBillScan",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true,
          "chatIds": "-1002908887184"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        -224
      ],
      "id": "c1af6952-a8d1-49a5-ba38-d708c73c5a27",
      "name": "Telegram Trigger",
      "webhookId": "410f456d-2e51-417f-896d-46028192e8eb",
      "credentials": {
        "telegramApi": {
          "id": "tGC4iHSUYUtagG68",
          "name": "Telegram rebutLabeler_bot account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ !!$json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "8b8114ff-6a2d-47c9-b435-b6f6ccced19d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "acda98b3-744b-46d4-aa18-576137be3f1f",
                    "leftValue": "={{ !!$json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b06e867-ad70-4a22-98d6-45f86d9b093e",
                    "leftValue": "={{ !!$json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        -240
      ],
      "id": "fef60fc5-3919-497c-8033-861f57f20598",
      "name": "Message Switch"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Telegram Trigger').item.json.message.from.first_name }}_{{ $('Telegram Trigger').item.json.message.date }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1txDVdst-z7tSBsWrafOgn27katWaPe_p",
          "mode": "list",
          "cachedResultName": "rebutLabeler",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1txDVdst-z7tSBsWrafOgn27katWaPe_p"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        -416
      ],
      "id": "4a2aef26-7d6b-4bb0-a56f-6e2bb17aab17",
      "name": "Save file in GDrive",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i8ku3HFfWzBrUNAh",
          "name": "Google Drive rebutLabeler account"
        }
      }
    },
    {
      "parameters": {
        "binaryData": true,
        "dataPropertyName": "md5_checksum"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -48,
        -224
      ],
      "id": "c06c14e2-5d53-45e9-8c1e-6450c1c6d42c",
      "name": "Hash to MD5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Full 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Save file in GDrive').item.json.id }}",
            "checksum": "={{ $('Save file in GDrive').item.json.md5Checksum }}",
            "filename": "={{ $('Save file in GDrive').item.json.name }}",
            "user": "={{ $('Message Switch').item.json.message.from.first_name }}",
            "data": "={{ new Date().toISOString() }}",
            "URL": "={{ $('Save file in GDrive').item.json.webContentLink }}",
            "thumbnail": "={{ $('Save file in GDrive').item.json.thumbnailLink }}",
            "type": "image",
            "importe_total": "={{ $json.importe_total }}",
            "fecha_hora": "={{ $json.fecha_hora }}",
            "entidad_tienda": "={{ $json.entidad_tienda }}",
            "identificador_fiscal": "={{ $json.identificador_fiscal }}",
            "categoria_clasificacion": "={{ $json.categoria_clasificacion }}",
            "resumen_compra": "={{ $json.resumen_compra }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checksum",
              "displayName": "checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thumbnail",
              "displayName": "thumbnail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "importe_total",
              "displayName": "importe_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_hora",
              "displayName": "fecha_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entidad_tienda",
              "displayName": "entidad_tienda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "identificador_fiscal",
              "displayName": "identificador_fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoria_clasificacion",
              "displayName": "categoria_clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resumen_compra",
              "displayName": "resumen_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -416
      ],
      "id": "72837ff0-e9cd-45ec-8ff0-2d1119f9a743",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9of6Qum5n01dsoOL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "binaryData": true,
        "dataPropertyName": "md5_checksum"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -48,
        -16
      ],
      "id": "a3921946-a852-4a05-b564-014fdfea3a96",
      "name": "Hash PDF to MD5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Telegram Trigger').item.json.message.from.first_name }}_{{ $('Telegram Trigger').item.json.message.date }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1txDVdst-z7tSBsWrafOgn27katWaPe_p",
          "mode": "list",
          "cachedResultName": "rebutLabeler",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1txDVdst-z7tSBsWrafOgn27katWaPe_p"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        864,
        96
      ],
      "id": "7c1e3e45-210a-4a9f-8ebc-0c27ae753b24",
      "name": "Save doc file in GDrive",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i8ku3HFfWzBrUNAh",
          "name": "Google Drive rebutLabeler account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Full 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Save doc file in GDrive').item.json.id }}",
            "checksum": "={{ $('Save doc file in GDrive').item.json.md5Checksum }}",
            "filename": "={{ $('Save doc file in GDrive').item.json.name }}",
            "user": "={{ $('Message Switch').item.json.message.from.first_name }}",
            "data": "={{ new Date().toISOString() }}",
            "URL": "={{ $('Save doc file in GDrive').item.json.webContentLink }}",
            "type": "document",
            "importe_total": "={{ $json.importe_total }}",
            "fecha_hora": "={{ $json.fecha_hora }}",
            "entidad_tienda": "={{ $json.entidad_tienda }}",
            "identificador_fiscal": "={{ $json.identificador_fiscal }}",
            "categoria_clasificacion": "={{ $json.categoria_clasificacion }}",
            "resumen_compra": "={{ $json.resumen_compra }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checksum",
              "displayName": "checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thumbnail",
              "displayName": "thumbnail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "importe_total",
              "displayName": "importe_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_hora",
              "displayName": "fecha_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entidad_tienda",
              "displayName": "entidad_tienda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "identificador_fiscal",
              "displayName": "identificador_fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoria_clasificacion",
              "displayName": "categoria_clasificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resumen_compra",
              "displayName": "resumen_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        96
      ],
      "id": "852752be-9ffa-4394-afbe-c17d496d6948",
      "name": "Append doc row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9of6Qum5n01dsoOL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "=Missatge desconegut. missatge rebut: {{ $('Telegram Trigger').item.json.message.text }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        112,
        -448
      ],
      "id": "18919f0f-54a3-49cb-8fb4-a66ecf6be470",
      "name": "Stop and Error",
      "retryOnFail": true
    },
    {
      "parameters": {
        "chatId": "-1002908887184",
        "text": "=Funcionalitat pendent",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        -448
      ],
      "id": "daaa956e-1fdb-44f8-ad1f-d7224d59b273",
      "name": "New feature",
      "webhookId": "29a7975e-dcdc-420f-aced-123e7f7b63f5",
      "credentials": {
        "telegramApi": {
          "id": "tGC4iHSUYUtagG68",
          "name": "Telegram rebutLabeler_bot account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Full 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "checksum",
              "lookupValue": "={{ $json.md5_checksum }}"
            },
            {
              "lookupColumn": "type",
              "lookupValue": "image"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -224
      ],
      "id": "0ccb9eab-a030-4010-be96-fbf8820264fb",
      "name": "Search image by MD5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9of6Qum5n01dsoOL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Full 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MvZrNBQvYgX1_cBeB95tb1-fGj8veLP7MZMI6oov9IA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "checksum",
              "lookupValue": "={{ $json.md5_checksum }}"
            },
            {
              "lookupColumn": "type",
              "lookupValue": "document"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -16
      ],
      "id": "c24dbde7-9a1d-4948-ad45-2a19464699c0",
      "name": "Search doc by MD5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9of6Qum5n01dsoOL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "510af1dd-eb70-4bdb-a766-896c5baac8b5",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        -224
      ],
      "id": "319e81f2-3aae-41ba-9847-4461ccc2c06b",
      "name": "New Image?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "510af1dd-eb70-4bdb-a766-896c5baac8b5",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        -16
      ],
      "id": "da6e7f6a-f60c-4eb7-a0b4-f2d41f2b2c63",
      "name": "New document?"
    },
    {
      "parameters": {
        "chatId": "-1002908887184",
        "text": "=Rebut ja existent, pujat per  {{ $('Search image by MD5').item.json.user }} el dia {{ $('Search image by MD5').item.json.data }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -160
      ],
      "id": "d349b5f4-3120-4128-b117-8911e3b32fbe",
      "name": "Already exists",
      "webhookId": "29a7975e-dcdc-420f-aced-123e7f7b63f5",
      "credentials": {
        "telegramApi": {
          "id": "tGC4iHSUYUtagG68",
          "name": "Telegram rebutLabeler_bot account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002908887184",
        "text": "=Rebut ja existent, pujat per {{ $('Search doc by MD5').item.json.user }}  el dia {{ $('Search doc by MD5').item.json.data }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        304
      ],
      "id": "9ffb3df7-ff50-404b-9855-0bda1f110c34",
      "name": "Doc already exists",
      "webhookId": "29a7975e-dcdc-420f-aced-123e7f7b63f5",
      "credentials": {
        "telegramApi": {
          "id": "tGC4iHSUYUtagG68",
          "name": "Telegram rebutLabeler_bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        96
      ],
      "id": "9fc5f43f-3a27-4e65-8767-a7fc47e9b9ca",
      "name": "Wait document"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        -416
      ],
      "id": "fa85cc4e-3525-4ba4-8911-4710f6d52a96",
      "name": "Wait image"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p46Bj0PkzWA5buhX",
          "mode": "list",
          "cachedResultName": "retrieveImageFlow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fileID": "={{ $json.id }}",
            "fileType": "image"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileID",
              "displayName": "fileID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fileType",
              "displayName": "fileType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1056,
        -416
      ],
      "id": "865c2712-1eef-4fe9-b77d-8053f440b80d",
      "name": "Analyze image Sub-Workflow",
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p46Bj0PkzWA5buhX",
          "mode": "list",
          "cachedResultName": "retrieveImageFlow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fileID": "={{ $json.id }}",
            "fileType": "document"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileID",
              "displayName": "fileID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fileType",
              "displayName": "fileType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        96
      ],
      "id": "692808a3-4438-425a-868a-55dc962fbf78",
      "name": "Analyze document Sub-Workflow",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## To be developed\n**Add an AI Agent to seach in GDrive**\n",
        "height": 240,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -528
      ],
      "typeVersion": 1,
      "id": "7b937df5-4144-45dd-b852-8a003ad94903",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chatId": "-1002908887184",
        "text": "=✅ Rebut/Factura (registrada correctament)[{{ $json.URL }}]\n\n\nImport: {{ $json.importe_total }} €\nEntitat/Tenda: {{ $json.entidad_tienda }}\nCategoria: {{ $json.categoria_clasificacion }}\n\nDetall: {{ $json.resumen_compra }}\nData: {{ $json.fecha_hora }}\nTYPE: {{ $json.type }}\n",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        -144
      ],
      "id": "86c7e4fd-2295-4fba-b70b-c5559a1d0131",
      "name": "Success Message",
      "webhookId": "29a7975e-dcdc-420f-aced-123e7f7b63f5",
      "credentials": {
        "telegramApi": {
          "id": "tGC4iHSUYUtagG68",
          "name": "Telegram rebutLabeler_bot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Validate if the image/document has been already uploaded \n**Based on the MD5 of the file** ",
        "height": 464,
        "width": 704,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -288
      ],
      "typeVersion": 1,
      "id": "f6b74fc6-2079-42fb-b8ea-b85be5ec97ef",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image flow\n",
        "height": 464,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -480
      ],
      "typeVersion": 1,
      "id": "ac43085c-2e74-4813-b944-857fb39c5aa5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Document flow",
        "height": 400,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        32
      ],
      "typeVersion": 1,
      "id": "a730a855-d651-41c8-9e21-5c66761bf816",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Switch": {
      "main": [
        [
          {
            "node": "New feature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hash to MD5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hash PDF to MD5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait document",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hash to MD5": {
      "main": [
        [
          {
            "node": "Search image by MD5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save file in GDrive": {
      "main": [
        [
          {
            "node": "Analyze image Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash PDF to MD5": {
      "main": [
        [
          {
            "node": "Search doc by MD5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save doc file in GDrive": {
      "main": [
        [
          {
            "node": "Analyze document Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New feature": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search image by MD5": {
      "main": [
        [
          {
            "node": "New Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search doc by MD5": {
      "main": [
        [
          {
            "node": "New document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Image?": {
      "main": [
        [
          {
            "node": "Wait image",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New document?": {
      "main": [
        [
          {
            "node": "Wait document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Doc already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait document": {
      "main": [
        [
          {
            "node": "Save doc file in GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait image": {
      "main": [
        [
          {
            "node": "Save file in GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image Sub-Workflow": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document Sub-Workflow": {
      "main": [
        [
          {
            "node": "Append doc row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append doc row in sheet": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "yUuds9itCr81Ivjf"
  },
  "versionId": "d6cfe1a7-b6bd-4087-879b-0a8ca8e667d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92d7adad842a7a63843f6ad7e7b1ecbf41b7466692d9c7982f4d770a025e1bca"
  },
  "id": "J2n0AJOzVe0PpBpm",
  "tags": [
    {
      "name": "finanzas",
      "id": "KhznOSPM4LLYX5PF",
      "createdAt": "2025-10-04T14:14:39.168Z",
      "updatedAt": "2025-10-04T14:14:39.168Z"
    }
  ]
}